.checkbox {
    position: relative;
    width: 100px;
}

input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
}
.helper {
    cursor: pointer;
    display: block;
    font-size: 16px;
    user-select: none;
    color: #e7e7e7;
}
.helper:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 4px;
  width: 16px;
  height: 16px;
  transition: transform 0.28s ease;
  border-radius: 3px;
  border: 1px solid #f1d41b;
  background: #f1d41b;
}
.helper:after {
  content: '';
  display: block;
  width: 10px;
  height: 5px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  -webkit-transform: rotate(-45deg) scale(0);
  -moz-transform: rotate(-45deg) scale(0);
  -ms-transform: rotate(-45deg) scale(0);
  transform: rotate(-45deg) scale(0);
  position: absolute;
  top: 8px;
  left: 7px;
}
input[type="checkbox"]:checked ~ .helper::before {
    color: #7bbe72;
}

input[type="checkbox"]:checked ~ .helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

.checkbox label {
    padding-left: 15px;
    display: inherit;
    top: 2px;
    font-weight: normal;
    cursor: pointer;
}
