
.chart-text {
  -moz-transform: translateY(0.25em);
-ms-transform: translateY(0.25em);
-webkit-transform: translateY(0.25em);
transform: translateY(0.25em);
font-size: .8rem;
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: .18rem;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(1em);
  -ms-transform: translateY(1em);
  -webkit-transform: translateY(1em);
  transform: translateY(1em);
}

@media (min-width: 768px) {
  figure {
    flex-direction: row;
  }
}

.figure-content svg {
  height: auto;
}

.shape-circle {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}
