* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}


.checkbox p {
  margin: 5px;
}

.page-wrapper {
  display: flex;
  height: 100%;
  color: #9399A3;
}

.main,
.menu,
.categories {
  height: 400px;
}

/********* Searchbar styles *********/

.searchbar {
  width: 100%;
  height: 75px;
  /* display: block; */
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.searchbar ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.searchbar li {
  border-left: 1px solid #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.search-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-input .magnifying-glass-icon {
  position: relative;
}

.text-search {
  height: 3vh;
  padding: 10px;
  width: 90%;
  background-color: #fff;
  border: none;
  font-size: 1em;
}

.menu-icon {
  height: 35%;
  margin: 20px;
}

.browser-icon,
.settings-icon {
  height: 30%;
  margin: 20px;
}

.add-user-icon {
  height: 30%;
  margin: 20px;
}

/******** Navbar Styles ******/

.navigation {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100%;
  background-color: #354051;
}

.nav li {
  padding: 10px;
}

.nav h4 {
  font-size: .8em;
  color: #7f8590;
}

.nav ul {
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  list-style: none;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 160px;
}

.prof-pic {
  border-radius: 50%;
  background-image: url('images/try-again.png');
  height: 110px;
  width: 110px;
  background-position-y: 30%;
  background-position-x: 40%;
}

.username-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  align-items: center;
  margin-top: 20px;
  width: 100px;
}

.username-expand {
  height: 10px;
  margin-left: 5px;
}

.profile,
.main,
.menu {
    border-bottom: 1px solid #000;
}

.main,
.menu {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 234px;
  align-items: flex-start;
}

.nav div {
  display: flex;
  flex-direction: column;
}

.main-nav,
.menu-nav {
  height: 15px;
  margin-right: 8px;
}

/*********** Styles for main *********/

.main-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.job-overview {
  display: flex;
  width: 100%;
  /* height: 20%; */
  justify-content: space-around;
  flex-wrap: wrap;
}

.job-overview-wrapper {
  width: 50%;
}

.job-overview h1 {
  padding: 50px 0 0 0;
}

.job-overview a {
  text-decoration: none;
  color: #70caf7;
}

.bookmark-job,
.edit-job,
.delete-job {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  border: 1px solid #9399A3;
}

.job-location {
  height: 14px;
  padding: 10px 0 0 0;
}

.job-interaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  padding: 50px 0 0 0;
  margin-left: 320px;
}

.job-interaction img {
  height: 15px;
}

.open-job {
  height: 36px;
  width: 65px;
  border-radius: 20px;
  border: 1px solid #9399A3;
  padding: 6px;
  text-align: right;
}

.green-circle {
  border-radius: 50%;
	width: 10px;
	height: 10px;
  background: green;
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
}

.job-more-information {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: flex-start;
}

.job-information {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 77%;
  list-style: none;
  padding: 50px 50px 20px 37px;
}


/******** job data styling ********/

.graphical-data {
  height: 350px;
  width: 100%;
  background: #edf2f6;
  display: flex;
  align-items: center;
}


.job-totals {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.total-breakdown {
	background-color:#fafafc;
	-moz-border-radius:20px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #fafafc;
  width: 40%;
	/* display:inline-block; */
	cursor:pointer;
	color: #646e77;
	/* font-family:Arial; */
	font-size:15px;
	padding:6px;
	text-decoration:none;
  text-align: center;
	/* text-shadow:0px 1px 0px #2f6627; */
  border: 2px solid #d3d9df;
}

.myButton:active {
	position:relative;
	top:1px;
}
