* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  height: 100%;
  color: #9399A3;
}

 .main,
.menu,
.categories {
  height: 400px;
}

/********* Searchbar styles *********/

.searchbar {
  width: 85%;
  height: 75px;
  display: inline-block;
  background-color: #fff;
  border-bottom: 1px solid #000;
}

.searchbar ul {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  height: 100%;
}

.searchbar li {
  border-left: 1px solid #000;
  margin: 0;
  padding: 0;
  height: 100%;
}

.search-input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.search-input .magnifying-glass-icon {
  position: relative;
}

.text-search {
  height: 3vh;
  padding: 10px;
  width: 90%;
  background-color: #fff;
  border: none;
  font-size: 1em;
}

.menu-icon {
  height: 35%;
  margin: 20px;
}

.browser-icon,
.settings-icon {
  height: 30%;
  margin: 20px;
}

.add-user-icon {
  height: 30%;
  margin: 20px;
}

/******** Navbar Styles ******/

.navigation {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: #354051;
}

.nav li {
  padding: 10px;
}

.nav h4 {
  font-size: .8em;
  color: #7f8590;
}

.nav ul {
  /* flex-direction: column; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  list-style: none;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  height: 30%;
}

.prof-pic {
  border-radius: 50%;
  background-image: url('images/try-again.png');
  height: 110px;
  width: 110px;
  background-position-y: 30%;
  background-position-x: 40%;
}

.username-wrapper {
  display: flex;
  justify-content: space-around;
  font-size: 1em;
  align-items: center;
  margin-top: 20px;
}

.username-expand {
  height: 10px;
  margin-left: 5px;
}

.profile,
.main,
.menu {
    border-bottom: 1px solid #000;
}

.main,
.menu {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 234px;
  align-items: flex-start;
}

.nav div {
  display: flex;
  flex-direction: column;
}

.main-nav,
.menu-nav {
  height: 15px;
  margin-right: 8px;
}

.categories li {
  display: flex;
  align-items: center;
}
